<div class ="jumbotron">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to("ALPHA BLOG", root_path) %>
      <!-- <a class="navbar-brand" href="#">Alpha Blog</a> -->
    </div>
    <div>
      <ul class="navbar-right">
        <%= link_to("ABOUT", about_path) %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</div>

<div class="row">
  <div class="col-md-12"><h1>ALPHA BLOG</h1></div>
</div>
<div class="container">
  <div class="emptyspace">
  </div>
  <div class="row">
    <h3>COPYRIGHT</h3>
    <p>2016</p>
  </div>
</div>