<div class="center">
  <h1>ALPHA BLOG</h1>
</div>

<%#= render 'pages/carousel' %>

<br>
<%= render 'pages/buttons' %>

<p><%#= link_to 'About', about_path %></p>
<p><%#= link_to 'Articles', articles_path %></p>

<h6>COPYRIGHT</h6>
<p>2016</p>
